.jumbotron {
	background-image: url(bground1.png);
	background-size: cover;
	height: 690px;
	margin-top: -90px;
	margin-bottom: 200px;
}
.jumbotron .display-4 {
	color: SaddleBrown;
	text-align: center;
	text-shadow: 2px 2px 4px #696969;
	font-size: 40pt;
	font-family: Cottonwood, fantasy;
	margin-top: 210px;
}
.navbar-brand {
	font-size: 20pt;
}
footer .jumbotron2 {
	background-color: DimGrey;
	height: 180px;
	margin-bottom: -30px;
	padding: 50px;
	margin-top: 200px;
}
h2 {
	color: DimGrey;
	text-align: center;
	margin: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
body {
	background-color: FloralWhite;
}
.container img{
	display:block;
	margin:auto;
}


